name: Build ocp Docker

on: [push]

env:
  OCAML_DEFAULT_VERSION: 4.10.0

jobs:
  test:
    name: test opam

    runs-on: ubuntu-latest

    container:
      image: ocamlpro/ocaml:4.10

    steps:
      - run: sudo chmod a+wx .

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Get path
        id: get_path
        run: echo "::set-output name=path::$(pwd)"

      - name: Retrieve opam cache
        uses: actions/cache@v2
        id: cache-opam
        with:
          path: ${{ steps.get_path.outputs.path }}/_opam
          key: v1-test-cache-opam

      - run: opam switch create . ocaml-system --deps-only # Création du switch + installation des déps

      - run: opam install . # Compilation + installation des paquets locaux
