name: Tests

on:
  workflow_run:
    workflows:
      - Build
    types:
      - completed

jobs:
  quick_tests:
    name: Quick tests

    strategy:
      matrix:
        os:
          - ubuntu-latest
        ocaml-version:
          - 4.10.0
        cache-name:
          # use cache name of opam_all build workflow with alt-ergo already installed
          - opam-all

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.workflow_run.head_branch }}

      - name: Retrieve opam cache
        uses: actions/cache@v2
        id: cache-opam
        with:
          path: ~/.opam
          key: v1-${{ runner.os }}-alt-ergo-${{ matrix.cache-name }}-${{ matrix.ocaml-version }}-${{ hashFiles('*.opam') }}

      - name: Use OCaml ${{ matrix.ocaml-version }}
        uses: avsm/setup-ocaml@v1
        with:
          ocaml-version: ${{ matrix.ocaml-version }}

      - name: Set git user
        run: |
          git config --global user.name github-actions
          git config --global user.email github-actions-bot@users.noreply.github.com

      # - name: Pin no action
      #   run: opam pin add . -y --no-action

      # - name: Install depext
      #   run: opam depext -y alt-ergo-lib alt-ergo-parsers alt-ergo altgr-ergo
      #   # if: steps.cache-opam.outputs.cache-hit != 'true'

      # - name: Install deps
      #   run: opam install -y ./*.opam --deps-only --with-test
      #   # if: steps.cache-opam.outputs.cache-hit != 'true'

      # - name: Fixup
      #   run: opam upgrade --fixup
      #   # if: steps.cache-opam.outputs.cache-hit == 'true'

      # - name: Install
      #   run: opam install -y .

      - name: Run non regression tests
        run: opam exec -- rsc/extra/non_regression.sh

  complete_tests:
    name: Complete tests

    # Only if in pull request
    if: github.event_name == 'pull_request'

    needs: quick_tests

    strategy:
      matrix:
        os:
          - ubuntu-latest
        ocaml-version:
          - 4.04.2
          - 4.05.0
          - 4.06.1
          - 4.07.1
          - 4.08.1
          - 4.09.1
        cache-name:
          # use caches name of opam_ocaml_versions build workflow with alt-ergo
          # already installed for all ocaml supported versions
          - opam-versions

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Retrieve opam cache
        uses: actions/cache@v2
        id: cache-opam
        with:
          path: ~/.opam
          key: v1-${{ runner.os }}-alt-ergo-${{ matrix.cache-name }}-${{ matrix.ocaml-version }}-${{ hashFiles('*.opam') }}

      - name: Use OCaml ${{ matrix.ocaml-version }}
        uses: avsm/setup-ocaml@v1
        with:
          ocaml-version: ${{ matrix.ocaml-version }}

      - name: Set git user
        run: |
          git config --global user.name github-actions
          git config --global user.email github-actions-bot@users.noreply.github.com

      - name: Pin no action
        run: opam pin add . -y --no-action

      - name: Install depext
        run: opam depext -y alt-ergo-lib alt-ergo-parsers alt-ergo altgr-ergo
        # if: steps.cache-opam.outputs.cache-hit != 'true'

      - name: Install deps
        run: opam install -y ./*.opam --deps-only --with-test
        # if: steps.cache-opam.outputs.cache-hit != 'true'

      - name: Fixup
        run: opam upgrade --fixup
        # if: steps.cache-opam.outputs.cache-hit == 'true'

      - name: Install
        run: opam install -y .

      - name: Run non regression tests
        run: opam exec -- rsc/extra/non_regression.sh
